<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.army.dao.ContractDAO">

    <select id="getById" parameterType="int" resultType="com.solvd.army.models.documents.Contact">
        select * from contracts where id = #{id}
    </select>

    <insert id="insert" parameterType="com.solvd.army.models.documents.Contact">
        insert into contracts(begin,end,s_id)VALUES(#{begin},#{end},#{s_id})
    </insert>

    <update id="update" parameterType="com.solvd.army.models.documents.Contact">
        update contracts set begin=#{begin},end=#{end},s_id=#{s_id} where id= #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from contracts where id = #{id}
    </delete>

    <select id="getAll">
        select * from contracts
    </select>

</mapper>