<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.army.dao.SoldierDAO">

    <select id="getById" parameterType="int" resultType="com.solvd.army.models.structure.Soldier">
        select * from soldiers where id = #{id}
    </select>

    <insert id="insert" parameterType="com.solvd.army.models.structure.Soldier">
        insert into soldiers(name,surname,call_sign,r_id,sub_id)VALUES(#{name},#{surname},#{call_sign},#{r_id},#{sub_id})
    </insert>

    <update id="update" parameterType="com.solvd.army.models.structure.Soldier">
        update soldiers set name=#{name},surname=#{surname},call_sign=#{call_sign},r_id=#{r_id},sub_id=#{sub_id} where id= #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from soldiers where id = #{id}
    </delete>

    <select id="getAll">
        select * from soldiers
    </select>

    <select id="findSoldierByName" parameterType="java.lang.String" resultType="com.solvd.army.models.structure.Soldier">
        select * from soldiers where soldierName like '%${value}%'
    </select>

</mapper>