<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.army.dao.WeaponTypeDAO">

    <select id="getById" parameterType="int" resultType="com.solvd.army.models.types.WeaponType">
        select * from weaponstype where id = #{id}
    </select>

    <insert id="insert" parameterType="com.solvd.army.models.types.WeaponType">
        insert into weaponstype(type,quantity)VALUES(#{type},#{quantity})
    </insert>

    <update id="update" parameterType="com.solvd.army.models.types.WeaponType">
        update weaponstype set type=#{type},quantity=#{quantity} where id= #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from weaponstype where id = #{id}
    </delete>

    <select id="getAll">
        select * from weaponstype
    </select>

</mapper>